NEXT_PUBLIC_ENVIRONMENT=development
NEXT_PUBLIC_URL=http://localhost:$PORT
NEXT_PUBLIC_API_URL=http://0.0.0.0:1337/cms
NEXT_PUBLIC_GA_TRACKING_ID=UA-000000-01
RECOIL_DUPLICATE_ATOM_KEY_CHECKING_ENABLED=false
NEXTAUTH_URL=http://localhost:$PORT
NEXTAUTH_SECRET=cat
