node_modules
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

/node_modules

/client/.pnp.*
/client/.yarn/*
!/client/.yarn/patches
!/client/.yarn/plugins
!/client/.yarn/releases
!/client/.yarn/sdks
!/client/.yarn/versions

/api/.pnp.*
/api/.yarn/*
!/api/.yarn/patches
!/api/.yarn/plugins
!/api/.yarn/releases
!/api/.yarn/sdks
!/api/.yarn/versions

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
