node_modules
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local



/client-legacy/.pnp.*
/client-legacy/.yarn/*
!/client-legacy/.yarn/patches
!/client-legacy/.yarn/plugins
!/client-legacy/.yarn/releases
!/client-legacy/.yarn/sdks
!/client-legacy/.yarn/versions

/api/.pnp.*
/api/.yarn/*
!/api/.yarn/patches
!/api/.yarn/plugins
!/api/.yarn/releases
!/api/.yarn/sdks
!/api/.yarn/versions
